body {
    margin: 0;
    background-color: rgb(171, 140, 140);
    color: #fff;
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}
.cel{
    border:black solid 3px;
    width: 20%;
    height: 100px;
    cursor: pointer;
}


#seconds {
    font-size: 2em;}
  
  #minutes {
    font-size: 2em;
  }
  #colon {
    font-size: 2em;
  }
  .undo{
      width: 100%;
  }
  .save{
      width: 100%;
      
  }
  /* .mark{
    font-size: 15px;
  } */

  .txt{
      font-size: small;
  }








.game {
    width: 600px;
    height: 600px;
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

